Repository vipineth/hypeterminal: changes, and which lefthook commands are due for each by the changed paths.
All: i18n-extract, i18n-compile

i18n-extract:
  run: pnpm i18n:extract
  stage_fixed: true

i18n-compile:
  run: pnpm i18n:compile
  stage_fixed: true

refactor: signing and wallet flow
  docs/wallet-signing-guide.md
  src/components/trade/order-entry/order-entry-panel.tsx
  src/components/trade/positions/orders-tab.tsx
  src/components/trade/positions/positions-tab.tsx
  src/constants/app.ts
  src/hooks/hyperliquid/use-extra-agents.ts
  src/hooks/hyperliquid/use-trading-agent.ts
  src/lib/hyperliquid/api-wallet.test.ts
  src/lib/hyperliquid/api-wallet.ts
  src/lib/hyperliquid/exchange.ts
  src/lib/hyperliquid/wallet.test.ts
  src/lib/hyperliquid/wallet.ts
  src/stores/use-api-wallet-store.ts
  src/stores/use-trade-settings-store.ts
Due: i18n-extract, i18n-compile

feat: update mobile view
  src/components/trade/chart/token-selector.tsx
  src/components/trade/mobile/index.ts
  src/components/trade/mobile/mobile-account-view.tsx
  src/components/trade/mobile/mobile-book-view.tsx
  src/components/trade/mobile/mobile-bottom-nav.tsx
  src/components/trade/mobile/mobile-chart-view.tsx
  src/components/trade/mobile/mobile-header.tsx
  src/components/trade/mobile/mobile-positions-view.tsx
  src/components/trade/mobile/mobile-terminal.tsx
  src/components/trade/mobile/mobile-trade-view.tsx
  src/components/trade/mobile/offline-banner.tsx
  src/components/trade/trade-terminal-page.tsx
  src/hooks/use-mobile.ts
  src/styles.css
Due: i18n-extract, i18n-compile

fix: minor chnages
  src/components/pages/builder-page.tsx
  src/components/trade/footer/footer-bar.tsx
  src/components/trade/order-entry/order-entry-panel.tsx
  src/providers/theme.tsx
Due: i18n-extract, i18n-compile

feat: add builder page
  .gitignore
  src/components/pages/builder-page.tsx
  src/locales/ar/messages.po
  src/locales/en/messages.po
  src/locales/es/messages.po
  src/locales/fr/messages.po
  src/locales/hi/messages.po
  src/locales/zh/messages.po
  src/routeTree.gen.ts
  src/routes/builder.tsx
  src/routes/index.tsx
Due: i18n-extract, i18n-compile

i18n: update
  src/locales/ar/messages.js
  src/locales/ar/messages.po
  src/locales/en/messages.js
  src/locales/en/messages.po
  src/locales/es/messages.js
  src/locales/es/messages.po
  src/locales/fr/messages.js
  src/locales/fr/messages.po
  src/locales/hi/messages.js
  src/locales/hi/messages.po
  src/locales/zh/messages.js
  src/locales/zh/messages.po
Due: i18n-compile

Remove .env from git tracking
  .env
  src/components/pages/builder-page.tsx
Due: i18n-extract, i18n-compile

refactor
  docs/react-19-guidelines.md
  docs/react-19-refactor-spec.md
Due: none

feat: update connect wallet design
  src/components/icons/coinbase-icon.tsx
  src/components/icons/index.ts
  src/components/icons/metamask-icon.tsx
  src/components/icons/rabby-icon.tsx
  src/components/icons/walletconnect-icon.tsx
  src/components/trade/components/wallet-dialog.tsx
  src/config/wallet.ts
  src/locales/ar/messages.js
  src/locales/ar/messages.po
  src/locales/en/messages.js
  src/locales/en/messages.po
  src/locales/es/messages.js
  src/locales/es/messages.po
  src/locales/fr/messages.js
  src/locales/fr/messages.po
  src/locales/hi/messages.js
  src/locales/hi/messages.po
  src/locales/zh/messages.js
  src/locales/zh/messages.po
Due: i18n-extract, i18n-compile

feat: start using the hl react library in the project
  .claude/rules/code-style.md
  .claude/rules/wagmi.md
  biome.json
  docs/HYPERLIQUID_SDK_COMPARISON.md
  src/components/trade/chart/token-selector.tsx
  src/components/trade/mobile/mobile-book-view.tsx
  src/components/trade/orderbook/book-row.tsx
  src/components/trade/orderbook/order-book-panel.tsx
  src/components/trade/positions/orders-tab.tsx
  src/hooks/hyperliquid/use-resolved-market.ts
  src/lib/format.ts
  src/lib/hl-react/hooks/agent/SigningModeContext.tsx
  src/lib/hl-react/hooks/agent/index.ts
  src/lib/hl-react/hooks/agent/types.ts
  src/lib/hl-react/hooks/agent/useActionHooks.ts
  src/lib/hl-react/hooks/agent/useAgentStore.ts
  src/lib/hl-react/hooks/agent/useTradingAgent.ts
  src/lib/hl-react/index.ts
  src/lib/trade/orderbook.test.ts
  src/lib/trade/orderbook.ts
  src/providers/root.tsx
Due: i18n-extract, i18n-compile

feat: add falsh
  src/components/ui/flash.tsx
  src/styles.css
Due: i18n-extract, i18n-compile

refactor: update orderbook panel
  .claude/rules/code-style.md
  src/components/trade/orderbook/order-book-panel.tsx
  src/components/trade/orderbook/trades-view.tsx
  src/lib/circular-buffer/index.ts
  src/lib/circular-buffer/ring-buffer.ts
  src/lib/circular-buffer/use-ring-buffer.ts
  src/lib/hl-react/createConfig.ts
  src/lib/hl-react/hooks/agent/useTradingAgent.ts
  src/lib/hl-react/hooks/useClients.ts
  src/lib/hl-react/hooks/useWallet.ts
  src/lib/hl-react/index.ts
  src/lib/hl-react/types.ts
  src/lib/trade/trades.ts
  src/locales/ar/messages.po
  src/locales/en/messages.po
  src/locales/es/messages.po
  src/locales/fr/messages.po
  src/locales/hi/messages.po
  src/locales/zh/messages.po
  src/providers/root.tsx
Due: i18n-extract, i18n-compile

refactor: trades view
  src/components/trade/layout/price-row.tsx
  src/components/trade/mobile/mobile-book-view.tsx
  src/components/trade/orderbook/orderbook-panel.tsx
  src/components/trade/orderbook/orderbook-row.tsx
  src/components/trade/orderbook/trades-panel.tsx
Due: i18n-extract, i18n-compile

refactor: hyperliquid provider
  .claude/rules/code-style.md
  src/components/trade/chart/constants.ts
  src/components/trade/orderbook/trades-view.tsx
  src/config/interface.ts
  src/lib/hl-react/context.tsx
  src/lib/hl-react/hooks/agent/SigningModeContext.tsx
  src/lib/hl-react/hooks/agent/index.ts
  src/lib/hl-react/hooks/agent/types.ts
  src/lib/hl-react/hooks/agent/useActionHooks.ts
  src/lib/hl-react/hooks/agent/useTradingAgent.ts
  src/lib/hl-react/hooks/exchange/useExchangeOrder.ts
  src/lib/hl-react/index.ts
  src/lib/hl-react/types.ts
  src/locales/ar/messages.po
  src/locales/en/messages.po
  src/locales/es/messages.po
  src/locales/fr/messages.po
  src/locales/hi/messages.po
  src/locales/zh/messages.po
  src/providers/root.tsx
Due: i18n-extract, i18n-compile

feat: add agents
  .claude/agents/code-reviewer.md
  .claude/agents/code-simplifier.md
  .claude/agents/comment-analyzer.md
  .claude/agents/type-design-analyzer.md
  .claude/rules/code-style.md
  .claude/rules/comments.md
  src/components/trade/chart/use-token-selector.ts
  src/components/trade/header/favorites-strip.tsx
  src/components/trade/mobile/mobile-book-view.tsx
  src/components/trade/positions/funding-tab.tsx
  src/components/trade/positions/history-tab.tsx
  src/components/trade/positions/orders-tab.tsx
  src/components/trade/positions/positions-tab.tsx
  src/components/trade/positions/twap-tab.tsx
  src/hooks/hyperliquid/use-perp-asset-ctxs-snapshot.ts
  src/hooks/hyperliquid/use-resolved-market.ts
  src/lib/hl-react/hooks/usePerpMarkets.ts
  src/lib/hl-react/index.ts
Due: i18n-extract, i18n-compile

refactor: remove use client
  src/components/ui/checkbox.tsx
  src/components/ui/context-menu.tsx
  src/components/ui/form.tsx
  src/components/ui/hover-card.tsx
  src/components/ui/radio-group.tsx
  src/components/ui/scroll-area.tsx
  src/components/ui/separator.tsx
  src/locales/ar/messages.po
  src/locales/en/messages.po
  src/locales/es/messages.po
  src/locales/fr/messages.po
  src/locales/hi/messages.po
  src/locales/zh/messages.po
Due: i18n-extract, i18n-compile

feat: make icon clicable
  src/components/trade/positions/history-tab.tsx
  src/components/trade/positions/orders-tab.tsx
  src/components/trade/positions/positions-tab.tsx
  src/components/trade/positions/twap-tab.tsx
Due: i18n-extract, i18n-compile

feat: add builder fee
  docs/builder-fee-approval-spec.md
  src/components/trade/order-entry/order-entry-panel.tsx
  src/config/interface.ts
  src/config/wagmi.ts
  src/lib/hyperliquid/context.tsx
  src/lib/hyperliquid/hooks/agent/types.ts
  src/lib/hyperliquid/hooks/useAgentRegistration.ts
  src/lib/hyperliquid/utils/agent.ts
  src/lib/hyperliquid/wallet.ts
  src/locales/ar/messages.po
  src/locales/en/messages.po
  src/locales/es/messages.po
  src/locales/fr/messages.po
  src/locales/hi/messages.po
  src/locales/zh/messages.po
Due: i18n-extract, i18n-compile

feat: refactor signing and chain
  docs/hyper-signing.md
  src/components/trade/order-entry/order-entry-panel.tsx
  src/lib/hyperliquid/hooks/agent/index.ts
  src/lib/hyperliquid/hooks/agent/types.ts
  src/lib/hyperliquid/hooks/useSignedExchange.ts
  src/lib/hyperliquid/hooks/useTradingStatus.ts
  src/lib/hyperliquid/types.ts
  src/locales/ar/messages.js
  src/locales/ar/messages.po
  src/locales/en/messages.js
  src/locales/en/messages.po
  src/locales/es/messages.js
  src/locales/es/messages.po
  src/locales/fr/messages.js
  src/locales/fr/messages.po
  src/locales/hi/messages.js
  src/locales/hi/messages.po
  src/locales/zh/messages.js
  src/locales/zh/messages.po
  src/stores/use-trade-settings-store.ts
Due: i18n-extract, i18n-compile

feat: delete old doc
  docs/HYPERLIQUID_SDK_COMPARISON.md
  docs/architecture.md
  docs/builder-fee-approval-spec.md
  docs/coding-rules.md
  docs/hyperliquid-exchange-docs.md
  docs/hyperliquid-full.md
  docs/order-entry-spec.md
  docs/react-19-guidelines.md
  docs/react-19-refactor-spec.md
  docs/signing-mode-prd.md
  docs/wallet-signing-guide.md
  src/components/trade/order-entry/order-entry-panel.tsx
  src/locales/ar/messages.po
  src/locales/en/messages.po
  src/locales/es/messages.po
  src/locales/fr/messages.po
  src/locales/hi/messages.po
  src/locales/zh/messages.po
Due: i18n-extract, i18n-compile

fix: remove line number from lingui
  lingui.config.ts
  src/locales/ar/messages.po
  src/locales/en/messages.po
  src/locales/es/messages.po
  src/locales/fr/messages.po
  src/locales/hi/messages.po
  src/locales/zh/messages.po
Due: i18n-extract, i18n-compile

feat: remove line numbers from po files
  src/locales/ar/messages.po
  src/locales/en/messages.po
  src/locales/es/messages.po
  src/locales/fr/messages.po
  src/locales/hi/messages.po
  src/locales/zh/messages.po
Due: i18n-compile

update messages
  src/locales/ar/messages.js
  src/locales/ar/messages.po
  src/locales/en/messages.js
  src/locales/en/messages.po
  src/locales/es/messages.js
  src/locales/es/messages.po
  src/locales/fr/messages.js
  src/locales/fr/messages.po
  src/locales/hi/messages.js
  src/locales/hi/messages.po
  src/locales/zh/messages.js
  src/locales/zh/messages.po
Due: i18n-compile

feat: add feature info
  .agent/rules.md
  .cta.json
  .gitignore
  docs/hyperliquid-sdk-directory.md
  features/README.md
  features/_template.md
  features/leverage-management.md
  features/sdk-api-directory.md
  features/spot-swap.md
  features/tp-sl.md
Due: none

feat: enhance leverage management
  docs/hyperliquid-sdk-directory.md
  features/_template.md
  features/leverage-management.md
  features/spot-swap.md
  features/tp-sl.md
  src/components/trade/components/token-avatar.tsx
  src/components/trade/mobile/mobile-trade-view.tsx
  src/components/trade/order-entry/leverage-badge.tsx
  src/components/trade/order-entry/leverage-control.tsx
  src/components/trade/order-entry/leverage-popover.tsx
  src/components/trade/order-entry/leverage-sheet.tsx
  src/components/trade/order-entry/leverage-slider.tsx
  src/components/trade/order-entry/order-entry-panel.tsx
  src/components/trade/positions/balances-tab.tsx
  src/components/trade/positions/orders-tab.tsx
  src/components/trade/positions/positions-tab.tsx
  src/components/ui/avatar.tsx
  src/components/ui/checkbox.tsx
  src/hooks/trade/use-asset-leverage.ts
  src/lib/cn.ts
  src/stores/use-trade-settings-store.ts
Due: i18n-extract, i18n-compile

refactor: storage and ui component
  src/components/trade/components/global-settings-dialog.tsx
  src/components/trade/header/theme-toggle.tsx
  src/components/trade/header/top-nav.tsx
  src/components/trade/mobile/mobile-header.tsx
  src/components/trade/mobile/mobile-trade-view.tsx
  src/components/trade/order-entry/leverage-popover.tsx
  src/components/trade/order-entry/leverage-sheet.tsx
  src/components/trade/order-entry/order-entry-panel.tsx
  src/components/trade/positions/orders-tab.tsx
  src/components/trade/positions/positions-tab.tsx
  src/components/trade/positions/twap-tab.tsx
  src/components/ui/button.tsx
  src/components/ui/number-input.tsx
  src/config/interface.ts
  src/lib/tests/errors.test.ts
  src/lib/tests/format.test.ts
  src/lib/tests/market.test.ts
  src/lib/tests/numbers.test.ts
  src/lib/tests/orderbook.test.ts
  src/lib/tests/orders.test.ts
  src/lib/tests/seo.test.ts
  src/lib/tests/trades.test.ts
  src/locales/ar/messages.po
  src/locales/en/messages.po
  src/locales/es/messages.po
  src/locales/fr/messages.po
  src/locales/hi/messages.po
  src/locales/zh/messages.po
  src/stores/create-selectors.ts
  src/stores/use-global-settings-store.ts
  src/stores/use-hyperliquid-ws-store.ts
  src/stores/use-market-prefs-store.ts
  src/stores/use-trade-settings-store.ts
  storage-refactor.md
  ui-changes.md
Due: i18n-extract, i18n-compile

fix: update to use button compoennt
  src/components/trade/chart/token-selector.tsx
  src/components/trade/components/wallet-dialog.tsx
  src/components/trade/header/favorites-strip.tsx
  src/components/trade/header/top-nav.tsx
  src/components/trade/mobile/mobile-account-view.tsx
  src/components/trade/mobile/mobile-book-view.tsx
  src/components/trade/mobile/mobile-bottom-nav.tsx
  src/components/trade/mobile/mobile-positions-view.tsx
  src/components/trade/mobile/mobile-trade-view.tsx
  src/components/trade/mobile/offline-banner.tsx
  src/components/trade/order-entry/account-panel.tsx
  src/components/trade/order-entry/leverage-badge.tsx
  src/components/trade/order-entry/leverage-popover.tsx
  src/components/trade/order-entry/leverage-sheet.tsx
  src/components/trade/order-entry/leverage-slider.tsx
  src/components/trade/order-entry/order-entry-panel.tsx
  src/components/trade/order-entry/order-toast.tsx
  src/components/trade/orderbook/orderbook-panel.tsx
  src/components/trade/orderbook/orderbook-row.tsx
  src/components/trade/orderbook/trades-panel.tsx
  src/components/trade/positions/history-tab.tsx
  src/components/trade/positions/orders-tab.tsx
  src/components/trade/positions/positions-tab.tsx
  src/components/trade/positions/twap-tab.tsx
  src/components/ui/button.tsx
  src/components/ui/virtual-table.tsx
  src/locales/ar/messages.js
  src/locales/en/messages.js
  src/locales/es/messages.js
  src/locales/fr/messages.js
  src/locales/hi/messages.js
  src/locales/zh/messages.js
Due: i18n-extract, i18n-compile

feat: implement tpsl
  .claude/rules/calculations.md
  features/spot-swap.md
  features/tp-sl.md
  package.json
  pnpm-lock.yaml
  src/components/trade/order-entry/order-entry-panel.tsx
  src/components/trade/order-entry/tp-sl-section.tsx
  src/components/trade/positions/orders-tab.tsx
  src/components/trade/positions/position-tpsl-modal.tsx
  src/components/trade/positions/positions-tab.tsx
  src/components/ui/input.tsx
  src/config/constants.ts
  src/lib/trade/numbers.ts
  src/lib/trade/tpsl.ts
Due: i18n-extract, i18n-compile

fix: ui chanegs
  .claude/agents/refactoring-ui.md
  src/components/trade/order-entry/tp-sl-section.tsx
  src/components/trade/positions/position-tpsl-modal.tsx
  src/components/trade/positions/positions-tab.tsx
  src/config/constants.ts
  src/lib/format.ts
  src/lib/trade/tpsl.ts
  src/locales/ar/messages.po
  src/locales/en/messages.po
  src/locales/es/messages.po
  src/locales/fr/messages.po
  src/locales/hi/messages.po
  src/locales/zh/messages.po
Due: i18n-extract, i18n-compile

i18n: update translations
  src/locales/ar/messages.js
  src/locales/ar/messages.po
  src/locales/en/messages.js
  src/locales/en/messages.po
  src/locales/es/messages.js
  src/locales/es/messages.po
  src/locales/fr/messages.js
  src/locales/fr/messages.po
  src/locales/hi/messages.js
  src/locales/hi/messages.po
  src/locales/zh/messages.js
  src/locales/zh/messages.po
Due: i18n-compile

refactor: change the ui for tp/sl
  features/isolated-margin.md
  src/components/trade/order-entry/order-entry-panel.tsx
  src/components/trade/order-entry/tp-sl-section.tsx
  src/locales/ar/messages.js
  src/locales/en/messages.js
  src/locales/es/messages.js
  src/locales/fr/messages.js
  src/locales/hi/messages.js
  src/locales/zh/messages.js
Due: i18n-extract, i18n-compile

refactor: improve tp/sl calculations and validation logic
  src/components/trade/order-entry/tp-sl-section.tsx
  src/components/trade/positions/position-tpsl-modal.tsx
  src/lib/trade/tpsl.ts
  src/locales/ar/messages.po
  src/locales/en/messages.po
  src/locales/es/messages.po
  src/locales/fr/messages.po
  src/locales/hi/messages.po
  src/locales/zh/messages.po
Due: i18n-extract, i18n-compile

feat: add USDC deposit feature from Arbitrum with integrated hooks and UI flow
  features/arbitrum-deposit.md
  src/components/trade/footer/footer-bar.tsx
  src/components/trade/header/top-nav.tsx
  src/components/trade/layout/analysis-section.tsx
  src/components/trade/layout/main-workspace.tsx
  src/components/trade/layout/order-sidebar.tsx
  src/components/trade/layout/price-row.tsx
  src/components/trade/order-entry/account-panel.tsx
  src/components/trade/order-entry/order-entry-panel.tsx
  src/components/trade/orderbook/orderbook-panel.tsx
  src/components/trade/trade-terminal-page.tsx
  src/config/constants.ts
  src/lib/trade/order-entry-calcs.ts
  src/stores/use-market-prefs-store.ts
Due: i18n-extract, i18n-compile

i18n: update languages
  src/locales/ar/messages.js
  src/locales/ar/messages.po
  src/locales/en/messages.js
  src/locales/en/messages.po
  src/locales/es/messages.js
  src/locales/es/messages.po
  src/locales/fr/messages.js
  src/locales/fr/messages.po
  src/locales/hi/messages.js
  src/locales/hi/messages.po
  src/locales/zh/messages.js
  src/locales/zh/messages.po
Due: i18n-compile

Path conditions:
  i18n-extract: any of: *.{ts,tsx}
  i18n-compile: any of: *.{ts,tsx,po}
